<div class="row">
  <div class="large-12 large-centered columns">
    <h1 class="centered-text">Welcome, Admin</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 large-centered columns">
    <h2 class="centered-text">What would you like to do?</h2>
  </div>
</div>

<div class="row">
  <div class="large-12 columns centered-text">
    <%= button_to "Orders", admin_orders_path, method: :get, class: "button large round" %>
  </div>
</div>

<div class="row">
  <div class="large-12 columns centered-text">
    <%= button_to "Your Menu", admin_items_path, method: :get, class: "button large round" %>
  </div>
</div>

<div class="row">
  <div class="large-12 columns centered-text">
    <%= button_to "Categories", admin_categories_path, method: :get, class: "button large round" %>
  </div>
</div>
