<div class="row">
  <div class="large-12 large-centered columns">
    <h1 class="centered-text">Order <%= @order.id %></h1>
  </div>
</div>

<div class="row">
  <div class="large-12 large-centered columns">
    <h1 class="centered-text">Ordered at: <%= @order.created_at %></h1>
  </div>
</div>

<div class="row">
  <div class="large-12 large-centered columns">
    <h1 class="centered-text">Status Updated At: <%= @order.updated_at %></h1>
  </div>
</div>

<div class="row">
  <div class="large-12 large-centered columns">
    <h1 class="centered-text">Purchaser Name: <%= @order.purchaser_name %></h1>
  </div>
</div>
